@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

/* container */

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 40vh;
    width: 400px;
}

/* heading */

.container h2 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

/* form */

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

/* input box */

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.8rem;
    width: 95%;
}

form input::placeholder {
    font-size: 1.1rem;
}

/* dropdown */

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.from p {
    font-size: 17px;
    margin-bottom: 5px;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    width: 6.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.select-container img {
    max-width: 2rem;
    margin-left: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

/* conversion */

.msg {
    margin: 2rem 0 2rem 0;
    font-size: 18px;
    letter-spacing: 1px;
}

/* get conversion button */

form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #ca1ba1;
}

/* Responsiveness */

@media (max-width: 520px) {

    .container {
        padding: 1.5rem;
        width: 80%;
    }

    .container h2 {
        font-size: 25px;
    }

    form {
        margin: 1.5rem 0 1rem 0;
    }
}

@media (max-width: 440px) {

    .container h2 {
        font-size: 21px;
    }
}

@media (max-width: 390px) {

    .dropdown {
        flex-direction: column;
    }

    .select-container {
        width: 8.5rem;
    }

    .select-container img {
        margin-right: 0.5rem;
    }
}

@media (max-width: 360px) {

    .container h2 {
        font-size: 18px;
    }
}